    <div class="footer row">
      <div class="col-md-4">
        <p><a href="/contact.html">Contact me</a></p>
      </div>
      <div class="col-md-4">
        <p>&copy; Copyright {{site.copyright_years}}, Randori BV</p>
      </div>
      <div class="col-md-4">
        <p>Website powered by <a href="http://urubu.jandecaluwe.com">Urubu</a></p>
      </div>
      
	  <div class="clearfix visible-xs-block"></div>
	  
      <div class="col-md-8 col-md-offset-2">
      <p><br/>
      "Randori", "Man Skirt", "manskirt.eu" are trademarks and/or registered trademarks of Randori BV in the Benelux, the European Union and/or other countries.
      <br/>Unless otherwise noted, all texts and images on this website are property of Philippe Faes and/or Randori BV and are protected by national and international copyright laws.
      </p> 
      
      </div>
      <div class="col-md-12">
      <hr/></div>
    </div>


