    <div class="footer">
      <div class="col-md-4">
        <p><a href="/contact.html">Contacteer mij</a></p>
      </div>
      <div class="col-md-4">
        <p>&copy; Copyright {{site.copyright_years}}, Randori bvba</p>
      </div>
      <div class="col-md-4">
        <p>Website powered by <a href="http://urubu.jandecaluwe.com">Urubu</a></p>
      </div>
      
      <div class="col-md-8 col-md-offset-2">
      <p><br/>
      "Randori", "Kilted Pilgrim", "Verzameling Chaos", "Collecting chaos" en "Veranderen door te Wandelen" zijn handelsmerken en/of geregistreerde handelsmerken van Randori bvba in de Benelux, Spanje en/of andere landen. 
      <br/>Alle teksten en beeldmateriaal zijn eigendom van Randori bvba of van Philippe Faes, en zijn auteursrechtelijk beschermd.
      </p> 
      
      </div>
      <div class="col-md-12">
      <hr/></div>
    </div>


