{% extends "_base.html" %}

{% block home %} 
{% endblock %}

{% block body %}

<div class="jumbotron urubu" style='background-image: url("{{this.banner}}")'>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>{{this.title}}</h1>
                <h2>{{this.tagline}}</h2>
                <p>{{this.abstract}}</p>
             </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="content">
        {% block content %}
        <div class="col-lg-8 col-md-offset-2" role="main">
          <div role="main">
          {{this.body}}
          </div>
          <div style="padding-top:30px">	
            {% if this.comments %}
              {% include 'comments.html' %}
            {% endif %}
          </div>
        </div>
        {% endblock %}
      </div>
     
    </div>
  </div>

{% include 'footer.html' %}

{% endblock %}
