{% extends "_base.html" %}

{% block body %}

{% block jumbotron %}
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-offset-1 text-center">
        <h1>{{this.title}}</h1>
        <h2>{{this.tagline}}</h2>
          <p>{{this.abstract}}</p>
       </div>
    </div>
  </div>
</div>
{% endblock %}

    
    
<div class="container">
  <div class="row">
    <div class="content">
      {% block content %}
      <div class="col-lg-8 col-md-offset-2" role="main">
        <div role="main">
        {{this.body}}
        </div>
        <div style="padding-top:30px">	
          {% if this.comments %}
            {% include 'comments.html' %}
          {% endif %}
        </div>
      </div>
      {% endblock %}
    </div>
    <div class="col-lg-8 col-md-offset-2" role="main">
      {% for item in this.content %}
      <h4><a href="{{item.url}}">{{item.title}}</a>
        {% if item.date|d %}
        <small>{{item.date|dateformat}}</small></h4>
        {% endif %}
      </h4>
      <p>{{item.teaser}}</p>
      {% endfor %}
    </div>
  </div>
</div>

{% include 'footer.html' %}
  
{% endblock %}
