{% extends "_base.html" %}

{% block body %}

<div class="container">

  {% block breadcrumbs %}
  {% if not this.hidebreadcrumbs %}
  {% if this.breadcrumbs %}
  <ol class="breadcrumb">
    <li><a href="{{url_prefix + '/'}}">Home</a></li>
      {% for bc in this.breadcrumbs[:-1] %}
      <li><a href="{{bc.url}}">{{bc.title}}</a></li>
      {% endfor %}
      <li class="active">{{this.breadcrumbs[-1].title}}</li>
  </ol>
  {% endif %}
  {% endif %}
  {% endblock %}

  <div class="page-header row">
    {% block title %}
    <div class="col-md-8">
    <h1 style="display:inline">{{this.title}}</h1>
      {% if this.subtitle%}
        <h3>{{this.subtitle}}</h3>
      {% endif %}
    </div>
    <div class="col-md-4">
      <div style="float: right">
      <small>
      {% if this.date %}
	    gepubliceerd op {{this.date}}
      {% endif %}
      {% if this.author %}
        door {{this.author}}
      {% endif %}
      </small>
      </div>
    </div>
    {% endblock %}
  </div>
  
  {% include 'pager.html' %}
    
  <div class="row">
    <div class="content">
      {% block content %}
      <div class="col-lg-9" role="main">
        <div role="main">
        {{this.body}}
        </div>
        
      </div>
      {% endblock %}
    </div>

    {% block sidebar %}
    {% if this.showtoc and this.toc %}
    <div class="col-lg-3" role="complementary">
      <nav class="hidden-print hidden-xs hidden-sm">
        <div class="sidebar" data-spy="affix" data-offset-top="80" data-offset-bottom="60">
          <div class="well">
            <a href="#"><strong>{{this.title}}</strong></a>
            {{this.toc}}
          </div>
        </div>
      </nav>
    </div>
    {% endif %}
<!--    {% if this.advert %}
    <div class="col-lg-3" role="complementary">
      <nav class="hidden-print ">
        <div class="sidebar" data-spy="affix" data-offset-top="80" data-offset-bottom="60">
          <div class="well">
            {% include 'advert.html' %}
          </div>
          <div class="well">
            {% include 'mailchimp.html' %}
          </div>
        </div>
      </nav>
    </div>
    {% endif %}-->
    {% endblock %}

  </div>

  <div style="padding-top:30px">	
    {% if this.comments %}
      {% include 'comments.html' %}
    {% endif %}
  </div>

  {% include 'pager.html' %}

  {% include 'footer.html' %}

</div>

{% endblock %}

